// colors
$lightgreen: #1fdeb3;
$blue: #12c3d2;
$yellow: #FFE53B;
$orange: #FF2525;
$orange-btn: #ff9f33;
$dark-blue: #21D4FD;
$purple: hsl(281, 100%, 56%);
$purple-btn: #7274ff;
$red: #f44336;
$black: #212121;
$disabled: #c1c1c1;
$white: #fff;
$success:#5cb85c;
$info:#5bc0de;
$warning:#f0ad4e;
$danger:#d9534f;
$primary:#1460a2;
$default:#fff;
$grey:#ccc;
$primaryhover:rgb(84, 136, 247);
$lightorange:#daba53;
$dangerhover:#fa8c88;
$darkpurple:rgb(134, 14, 134);
$green:rgb(20, 97, 20);